{% load static %}
<!DOCTYPE HTML>
<!--
	Aesthetic by freehtml5.co
	Twitter: http://twitter.com/fh5co
	URL: http://freehtml5.co
-->
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>DETAY-MİMARLIK </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Montserrat:400,700" rel="stylesheet">
	
	<!-- Animate.css -->
   
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    
	<!-- Icomoon Icon Fonts-->
   >
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<!-- Themify Icons-->
    
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
	<!-- Bootstrap  -->
  
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

	<!-- Owl Carousel  -->
   
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
   
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

	<!-- Theme style  -->
   
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">

		<nav class="gtco-nav" role="navigation">
			<div class="gtco-container">
				
				<div class="row">
					<div class="col-sm-2 col-xs-12">
						<div id="gtco-logo"><a href="index.html">DETAYMİMARLIK</div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							
							<li><a href="{% url 'login'  %}">
								<img src="{% static 'images/weber.png' %}" width="90" height="40">
							  </a> </li>
							
						
				</div>
				
			</div>
		</nav>

		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12">
					<div class="owl-carousel owl-carousel-fullwidth">
						<div class="item">
							<a href="#">
								<img src="{% static 'images/slider_1.jpg' %}">
								<div class="slider-copy">
									<h2>DETAY-MİMARLIK</h2>
								</div>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<img src="{% static 'images/denemeeeeeee.jpg' %}">
								<div class="slider-copy">
									<h2>DETAY-MİMARLIK</h2>
								</div>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<img src="{% static 'images/slider_3.jpg' %}">
								<div class="slider-copy">
									<h2>DETAY-MİMARLIK</h2>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="gtco-section">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 gtco-heading text-center">
						<h2>Projelerimiz</h2>
						<p>Mimari yaklaşım felsefemiz; özgün ve çağdaş mimari doğrultusunda her projeyi kendi kapsamında ve yaşam önceliklerini değerlendirerek, estetik ve en iyi çözümleri geliştirmektir.</p>
					</div>
				</div>
				<div class="row">

					<div class="col-md-12">
						<div class="owl-carousel owl-carousel-carousel">
							<div class="item">
								<div class="gtco-item">
									<a href="#"><img src="{% static 'images/yapi1.jpeg' %}" width="410" height="340"></a>
									<h2><a href="#">Proje 1</h2></a>
									<p class="role">Türkiye</p>
								</div>
							</div>
							<div class="item">
								<div class="gtco-item">
									<a href="#"><img src="{% static 'images/yapi2.jpeg' %}" width="410" height="340"></a>
									<h2><a href="#">Proje 2</h2></a>
									<p class="role">Türkiye</p>
								</div>
							</div>
							<div class="item">
								<div class="gtco-item">
									<a href="#"><img src="{% static 'images/yapi3.jpeg' %}" width="410" height="340"></a>
									<h2><a href="#">Proje 3</h2></a>
									<p class="role">Türkiye</p>
								</div>
							</div>

							<div class="item">
								<div class="gtco-item">
									<a href="#"><img src="{% static 'images/yapi4.jpeg' %}" width="410" height="340"></a>
									<h2><a href="#">Proje 4</h2></a>
									<p class="role">Türkiye</p>
								</div>
							</div>
							<div class="item">
								<div class="gtco-item">
									<a href="#"><img src="{% static 'images/yapi5.jpeg' %}" width="410" height="340"></a>
									<h2><a href="#">proje 5</h2></a>
									<p class="role">Türkiye</p>
								</div>
							</div>
							

							
							
							
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<!-- END Work -->

		<div class="gtco-section">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-6 gtco-news">
						<h2>Hakkımızda</h2>	
						<p>Hedelerinize ulaşabilmeniz için, mimari süreç içinde; program, tasarım, uygulama, kullanım ve diğer evrelerdeki kararlarınızda size yardımcı olalım.</p>
						
						<p>
							
							Tahılpazarı mah 477 sk 4/9 Muratpaşa </br>
							Antalya </br>
							07040, Antalya </br>
							TR</p>
							<p>0532 571 9357</p>
						
						
					</div>
					<!-- END News -->
					<div class="col-md-5 col-md-push-1 gtco-testimonials">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2466.5232015050638!2d30.70276705611089!3d36.89044878723638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c38ffd8b5ca547%3A0x15b002f2d4e7b390!2zVGFoxLFscGF6YXLEsSwgNDc3LiBTay4gTm86NCwgMDcwNDAgTXVyYXRwYcWfYS9BbnRhbHlh!5e0!3m2!1sen!2str!4v1579942314784!5m2!1sen!2str" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
					</div>
				</div>
			</div>
		</div>
		<!-- END  -->

		

		<footer id="gtco-footer" class="gtco-section" role="contentinfo">
			<div class="gtco-container">
				<div class="row row-pb-md">
					<div class="col-md-4 gtco-widget gtco-footer-paragraph">
						
					</div>
					
					
				</div>
			</div>
			
		</footer>
		<!-- END footer -->

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Carousel -->
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>

	<!-- Main -->
	<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>

